extends layout

block content
  .container.body-content
    .row
      if articles
        each val in articles 
          article.col-md-6
            header
              img(src=val.author.profileImage)
              h2= val.title
            .content
              p= val.content
            h2.author= val.author.username
            if user
              if user.email === val.author.email || user.roles[1]
                footer
                  a.btn.btn-default.btn-md(href='/article/edit/' + val.id) Change &raquo;
