extends layout

block content
  .container.body-content
    .row
      each val in articles 
        .col-md-12
          article
            header
              img(width='100px', src=val.author.profileImage)
              h2= val.title
            p= val.content
            small.author= val.author.email
            footer
              .pull-right
                a.btn.btn-default.btn-xs(href='/article/details/' + val.id) Read more &raquo;
