extends layout

block content
  .container.body-content
    .row
      each val in articles 
          article.col-md-6
            header
              img(src=val.author.profileImage)
              h2= val.title
            .content
              p= val.content
            small.author= val.author.email
            if user
              if user.email === val.author.email
                footer
                  .pull-left
                    a.btn.btn-default.btn-md(href='/article/edit/' + val.id) Change &raquo;
