extends layout

block content
  .container.body-content
    .row
      each val in articles 
        .col-md-12
          article
            p= val.content
            small.author= val.author.email
            footer
              .pull-right
                a.btn.btn-default.btn-xs(href='/article/details/' + val._id) Read more &raquo;
