doctype html
html
  head
    title Awesome Blog
    link(rel='stylesheet', href='/css/style.css')
    //-script(src='/js/jquery-1.10.2.js')
    //-script(src='/js/bootstrap.js')
  body
    header
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand.text-uppercase(href='/') Awesome Blog
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          if user
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right.nav-pills
                li
                  a(href='/user/details') User(#{user.email})
                li
                  a(href='/article/create') New Article
                li
                  a(href='/logout') Logout
          else
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right.nav-pills
                li
                  a(href='/register') Register
                li
                  a(href='/login') Login
    if error
      .container.body-content
        .well
          h4= error
    block content
    |
    div.divFoot
    |
    footer
      .modal-footer.navbar-fixed-bottom
        h5 &copy; 2017 - Awesome Blog Foundation
