extends ../layout

block content
  .container.body-content
    .row
      .col-md-12
          img(src=user.profileImage, alt='Image')
          h3 Email: #{user.email}
          h3 Name: #{user.fullName}
          h3 Articles: #{user.articles.length}
          a.btn.btn-default(href='/user/edit') Change settings
