.container.body-content
  .well
    form.form-horizontal(enctype='multipart/form-data', method='post', action='/user/editProfile')
      fieldset
        legend Change Password
        .form-group
          label.col-sm-4.control-label Password
          .col-sm-4
            input#inputPassword.form-control(type='password', placeholder='Password', name='password')
        .form-group
          label.col-sm-4.control-label Confirm Password
          .col-sm-4
            input#inputPassword.form-control(type='password', placeholder='Confirm Password', name='repeatedPassword')
        .form-group
          label.col-sm-4.control-label Profile Picture:
          .col-sm-6
            input#image.form-control(type='file', name='image')
        .form-group
          .col-sm-4.col-sm-offset-4
            button.btn.btn-default(href='/user/details') Cancel
            button.btn.btn-primary(type='submit') Submit

