extends ../layout

block content
  .container.body-content
    .well
      form.form-horizontal(method='POST', action='/article/edit/' + id)
        fieldset
          legend Edit Article
          .form-group
            label.col-sm-4.control-label Article Title
            .col-sm-4
              input#articleTitle.form-control(maxlength='30', type='text', value=title, name='title')
          .form-group
            label.col-sm-4.control-label Content
            .col-sm-6
              textarea#articleContent.form-control(maxlength='150', rows='5', name='content', required)= content
          .form-group
            .col-sm-4.col-sm-offset-4
              button.btn.btn-success(type='submit', href='/article/edit/' + id) Edit
              a.btn.btn-danger(href='/article/delete/' + id) Delete
              a.btn.btn-default(href='/') Cancel
